:root{
    --white: rgb(248, 255, 181);
    --blue: rgb(153, 227, 253);
    --pink: rgb(255, 157, 247);
}

body{
    background-color: #111;
    font-family: 'Google Sans', sans-serif;
    color: #fff;
    display: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background:url(assets/wall.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    
}

.margin-content{
    margin-top: 0vh;
}

.gradient-txt{
    color: transparent;
    font-size: 3rem;
    margin-bottom: 0;
}

.under-txt{
    font-size: 20px;
    margin: 0;
}

.pfp{
    border-radius: 10px;
    width: 95px;
    height: 95px;
}

.grey-link{
  font-size: 20px;
  padding: 3px;
  color: rgb(199, 197, 197);
  transition: all 0.2s ease-in-out;
  background-color: transparent;
}

.grey-link:hover{
  color: white;
  background-color: transparent;
}

.box {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 80px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.75);
    overflow: auto;
    width: 300px;
  }

@media (max-width: 400px){
    .box{
        padding: 30px;
    }
}

.inf{
    bottom: 0;
    position: absolute;
    width: 100%;
}
  
  @keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
  }
  
  @keyframes scale {
    from, to {
      transform: scale(0);
    }
    
    50% {
      transform: scale(1);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    
    to {
      transform: rotate(180deg);
    }
  }
  
  body {
    background-color: rgb(10, 10, 10);
    display: grid;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    place-items: center;
  }
  
  h1 {
    color: white;
    font-size: 3rem;
    font-family: 'Google Sans', monospace;
    margin: 0px;
    text-align: center;
    white-space: nowrap;
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    background: linear-gradient(to right, var(--white), var(--blue), var(--pink), var(--white));
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: background-pan 3s linear infinite;
  }